.container{
  position: relative;
  display: inline-block;
  text-align: center;
}

.login{
  background-color: white;
  position: absolute;
  top: 48%;
  left: 85%;
  width: 25%;
  height: 75%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


