<form (ngSubmit)="f.form.valid && addProduct()" #f="ngForm">
  <p class="title-product"><strong>Crear producto</strong></p>
  <div class="product-fields">
    <div class="form-group">
      <label for="code">Código</label>
      <input type="text" class="form-control" id="code" aria-describedby="userh" required>
    </div>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" aria-describedby="userh" required>
    </div>
    <div class="form-group">
      <label for="value">Valor unitario</label>
      <input type="number" class="form-control" id="value" aria-describedby="userh" required>
    </div>
    <div class="form-group">
      <label for="taxes">Impuestos</label>
      <input type="text" class="form-control" id="taxes" aria-describedby="userh" (click)="changeStatusTaxes()"
      placeholder="Click para mostrar y ocultar" readonly required>
    </div>
    <div *ngIf="showTaxes">
      <div *ngFor="let taxs of tax; let i=index">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="{{ taxs.id }}" (click)="changeStatus(taxs.id)"
          [checked]="isSelected[i]">
          <label class="custom-control-label" for="{{ taxs.id }}">{{taxs.name}}</label>
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-warning bt">Crear</button>

  </div>
</form>
