<div class="vertical-menu">
  <p class="title">ECO</p>

  <div class="items">
    <button type="button" class="btn btn-info cl">
      <img src="assets\car.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\pencil.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\box.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\forma.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\table.png" height="16" width="16">
    </button>
  </div>

  <div class="margin-bottom">
    <button type="button" class="btn btn-info cl">
      <img src="assets\logout.png" alt="">
    </button>
  </div>
</div>

<div class="panel-container">
  <div class="card">
    <p class="title-product"><strong>Productos&nbsp;</strong><img src="assets\add.png" alt=""></p>
    <!-- Medium input -->
    <div>
      <input type="text" class="form-control find" placeholder="Busca tu producto">
    </div>
  </div>
</div>
