<div class="vertical-menu">
  <p class="title">ECO</p>

  <div class="items">
    <button type="button" class="btn btn-info cl">
      <img src="assets\car.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\pencil.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\box.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\forma.png" height="16" width="16">
    </button>
    <button type="button" class="btn btn-info cl">
      <img src="assets\table.png" height="16" width="16">
    </button>
  </div>

  <div class="margin-bottom">
    <button type="button" class="btn btn-info clb" (click)="logout()">
      <img src="assets\logout.png" alt="" style="background-color: white;">
    </button>
  </div>
</div>

<div class="panel-container">
  <div class="card">
    <p class="title-product" (click)='mostrar()'><strong>Productos&nbsp;</strong><img src="assets\add.png" alt=""></p>

    <p style="margin-top: -2%; margin-right: 3%;">
      <button class="configr" type="submit">
        <img src="assets/lupa.png" style="cursor: pointer;">
      </button>
      <input class="form-control configb" type="search" name="find" placeholder="Buscar producto">
    </p>

    <div class="products">

      <!-- Card -->
      <div *ngFor='let producto of products; let i = index'>
        <div class="card config">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top size-image" src="{{ producto.url_image }}"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <p class="card-title centro"><strong>{{ producto.name }}</strong></p>
            <!-- Text -->
            <p class="card-text centro">{{ producto.code }}</p>
            <p class="card-text centro">Lote:</p>
            <!-- Buttons -->
            <button type="button" class="btn btn-info button-blue">Editar</button>
            <button type="button" class="btn btn-danger button-red">Borrar</button>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>

<div id="sidebar" class="sidebar">
  <a href="#" class="boton-cerrar" (click)="ocultar()">&times;</a>
  <ul class="menu">
    <app-addproduct></app-addproduct>
  </ul>
</div>
