.vertical-menu {
  width: 5%; /* Set a width if you like */
  height: 100%;
  min-height: 100vh;
  background-color: #01869E;
  position:fixed;
}

.vertical-menu button {
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 8px; /* Add some padding */
  margin: 15px;
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu button:hover {
  background-color: white; /* Dark grey background on mouse-over */
}

.vertical-menu button.active {
  color: white;
}

.margin-bottom{
  position:fixed;
  bottom:0;
  z-index:999999;
}

.cl{
  background-color: #00BDDE;
  margin-top: 20px;
}
.clb{
  background-color: #01869E;
}

.title{
  text-align: center;
  color: white;
  margin-top: 20px;
}
.panel-container{
  margin-left: 5.5%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.title-product{
  margin: 1%;
  float: left;
  cursor: pointer;
  width: 15%;
}

.find{
  float: right;
  margin-right: 8%;
  width: 14%;
  margin-top: -3%;
}

.products{
  overflow: hidden;
	width: 100%;
}

.config{
  margin: 5px;
  width: 30%;
  height: 20%;
  float: left;
}
